[submodule "plant_splicer/Dependencies/PortableFileDialogues/PortableFileDialogues"]
	path = plant_splicer/Dependencies/PortableFileDialogues/PortableFileDialogues
	url = https://github.com/Imemyselfitb/PortableFileDialogues.git
